@import 'reset';
@import 'font';

body {
	background-color: #556262;
	text-shadow: 1px 1px 1px black, 0 0 1em grey;
}

form {
	width: 500px;
	margin: 20px auto;
}

h1,
h2 {
	text-transform: uppercase;
	padding: 10px;
	text-align: center;
}

p {
	padding: 10px;
	text-align: center;
}

.btn {
	display: inline-block;
	height: 43px;
	border-radius: 5px;
	color: white;
	background-color: transparent;
	border: 1px solid white;
}

.search {
	margin-right: 10px;
	width: 425px;
	height: 40px;
	border: 1px solid white;
	background-color: transparent;
	border-radius: 5px;
	color: white;
	text-indent:  15px;
}

.btn:hover,
.search:hover {
	color: yellow;
	border-color: yellow;
}

.active {
	display: grid;
	grid-column: 500px;
	grid-row: 1fr 1fr;
	grid-gap: 40px;
	width: 500px;
	margin: 20px auto;
	color: white;
	border: 1px solid white;
	border-radius: 5px;
}

.weather-box--today {
	display: grid;
	grid-column: 1fr;
} 

.weather-box--week {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
}

.weekday:hover {
	color: yellow;
	background-color: rgba(255, 255, 255, .1);
}

img {
	display: block;
	margin: 0 auto;
	width: 60px;
	height: 60px;
}

.title {
	text-decoration: underline;
	font-size: 14px;
}
.day {
	font-size: 12px;
	font-weight: normal;
}
