/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

a {
  text-decoration: none; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/** Proxima Nova **/
@font-face {
  font-family: 'proxima_nova_black';
  src: url("../fonts/Mark_Simonson_Proxima_Nova_Alt_Black-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/Mark_Simonson_Proxima_Nova_Alt_Bold-webfont.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/Mark_Simonson_Proxima_Nova_Alt_Regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on April 4, 2015 */
@font-face {
  font-family: 'proxima_nova_thin';
  src: url("../fonts/Mark_Simonson_Proxima_Nova_ScOsf_Thin-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'proxima_nova_ltthin';
  src: url("../fonts/Mark_Simonson_Proxima_Nova_Thin-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/*BODY style*/
body {
  color: #a5abc5;
  font-family: 'Proxima Nova', Calibri, sans-serif;
  font-size: 12px;
  background-color: #eceef4; }

*, *::before, *::after {
  box-sizing: border-box; }

input, select, input:focus {
  outline: none; }

/*HEADER*/
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 910px;
  margin: 0 auto; }
  header input {
    background-color: #eceef4;
    border: 1px solid #d7d8e0;
    font-family: 'Proxima Nova';
    color: #d7d8e0; }

section,
form {
  background-color: #fff; }

/*ORDER Info----and HELP Info*/
.header {
  display: flex;
  max-width: 910px;
  margin: 0 auto;
  border: 1px solid #d7d8e0;
  border-radius: 5px 5px 0 0;
  border-bottom: none; }

.order {
  display: flex;
  justify-content: space-around;
  width: 626px;
  margin: 27px 0 15px 0; }

.order__title, .help-info__title {
  text-transform: uppercase;
  position: relative;
  color: #6e768f;
  font-weight: bold;
  margin-bottom: 27px;
  text-indent: 34px;
  font-size: 10px;
  letter-spacing: 1px; }

.order__title::before, .help-info__title::before {
  content: '';
  position: absolute;
  top: -4px;
  left: 10px;
  width: 12px;
  height: 17px;
  background-image: url("../img/order-symbol.png");
  background-size: 12px 17px; }

th {
  width: 90px;
  padding-left: 18px;
  color: #6e768f;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold; }

td {
  width: 90px;
  padding-left: 18px;
  font-size: 11px;
  line-height: 30px;
  text-align: center;
  cursor: pointer; }

.order__buttons {
  display: flex;
  height: 90px;
  flex-direction: column;
  justify-content: space-between; }

.button {
  display: block;
  width: 140px;
  height: 40px;
  font-size: 10px;
  text-transform: uppercase;
  border-radius: 3px;
  cursor: pointer; }

.button-submit {
  background-color: #5fcac6;
  border: 1px solid #54aca9;
  color: #fff; }

.button-print {
  background-color: #f7f7fa;
  border: 1px solid #ccc;
  color: inherit; }

.help-info {
  padding-top: 30px;
  width: 270px;
  border-left: 1px solid #d7d8e0; }

.help-info__title {
  margin-bottom: 0px;
  text-indent: 43px; }

.help-info__title::before {
  background-image: url("../img/help-symbol.png");
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  top: -3px;
  left: 10px; }

.help-info__text {
  padding: 10px 0 10px 43px;
  font-size: 10px;
  line-height: 16px; }

.contact-info {
  padding-left: 43px; }

.contact-info__number, .contact-info__email {
  color: #6e768f;
  font-size: 12px;
  padding-right: 10px; }

/*FORM*/
form {
  max-width: 910px;
  margin: 0 auto;
  border: 1px solid #d7d8e0;
  border-radius: 0 0 5px 5px; }

/*TRANSLATE*/
.translate {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.translate__title {
  display: inline;
  width: 460px;
  margin: 70px 0 60px 230px;
  border-bottom: 1px solid #d7d8e0;
  color: #6e768f;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  line-height: 38px;
  letter-spacing: 3px; }

/*inputs*/
.choise-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 700px;
  margin: auto; }

.translate__choice {
  width: 210px;
  height: 155px;
  border: 1px solid #d7d8e0;
  background-color: #eceef4;
  border-radius: 5px;
  padding-top: 20px;
  cursor: pointer;
  text-align: center; }

.translate__img {
  display: block;
  margin: auto; }

.translate__text {
  font-weight: bold;
  line-height: 30px; }

input[type=radio]:checked + label {
  position: relative;
  border: 5px solid #76a7e1; }

input[type=radio]:checked + label::after {
  content: '';
  position: absolute;
  top: -15px;
  right: -15px;
  background-image: url("../img/checked.png");
  background-position: 5px 8px;
  background-size: 20px 15px;
  background-repeat: no-repeat;
  background-color: #76a7e1;
  width: 30px;
  height: 30px;
  border-radius: 50%; }

/*Upload*/
h3 {
  margin: 30px 0 30px 103px;
  font-size: 19px;
  color: #6e768f;
  position: relative; }

h3 > span {
  font-size: 12px;
  color: #ccc; }

h3::before {
  content: attr(data-count);
  position: absolute;
  left: -57px;
  top: -7px;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #d7d8e0;
  border-radius: 50%; }

.upload {
  margin-top: 30px; }

.upload__btn {
  margin: 17px 0 26px 100px;
  position: relative;
  display: inline-block;
  padding: 14px 28px 14px 55px;
  background: #eceef4;
  border-radius: 5px;
  border: 1px solid #d7d8e0;
  color: #6e768f;
  font-size: 13px; }

.upload__btn::before {
  content: '\f0ee';
  position: absolute;
  top: 11px;
  left: 27px;
  font-family: 'FontAwesome';
  font-size: 17px; }

.upload__table {
  width: 78%;
  margin: 20px auto;
  border: 1px solid #d7d8e0;
  border-radius: 5px;
  line-height: 30px;
  border-collapse: separate;
  border-spacing: 2px 5px; }

/*Languages*/
.languages__wrapper {
  margin: 20px 0 20px 60px; }

.languages__wrapper--to {
  margin-left: 77px; }

.languages__text {
  font-family: inherit;
  text-transform: uppercase;
  float: left;
  text-align: right;
  padding: 12px 20px; }

select {
  position: relative;
  width: 200px;
  height: 40px;
  margin-right: 20px;
  border-radius: 5px;
  border: 1px solid #d7d8e0;
  -webkit-appearance: none;
  text-indent: 20px;
  line-height: 20px;
  font-family: inherit;
  font-size: 14px;
  color: #6e768f;
  background: #eceef4;
  background-image: url("../img/down.png");
  background-repeat: no-repeat;
  background-position: 173px 16px;
  background-size: 12px 10px; }

.languages__button, .document-tone__choice {
  border: 1px solid #d7d8e0;
  border-radius: 5px;
  background: #eceef4;
  color: #6e768f;
  text-indent: 20px;
  padding: 12px 30px;
  text-transform: uppercase; }

.languages__btn {
  position: relative; }

.languages__btn::before {
  content: "\f067";
  font-family: 'FontAwesome';
  position: absolute;
  top: 2px;
  left: 30px;
  color: #6e768f; }

/*Tone of documents*/
.tone {
  display: flex;
  flex-direction: row;
  justify-content: start; }

.document-tone {
  width: 315px;
  display: flex;
  flex-direction: column; }

.document-tone__choice {
  width: 185px;
  margin: 16px 0 0 100px;
  text-transform: none;
  padding: 15px 10px;
  text-indent: 50px;
  position: relative; }

.document-tone__choice::before {
  content: "";
  font-family: 'FontAwesome';
  position: absolute;
  left: -16px;
  top: 14px;
  font-size: 14px; }

.document-tone__choice--1::before {
  content: "\f086"; }

.document-tone__choice--2::before {
  content: "\f0f2"; }

.document-tone__choice--3::before {
  content: "\f0a1"; }

/*Time limit*/
.time-limit {
  width: 430px;
  margin-left: 70px; }

input[type=range] {
  -webkit-appearance: none;
  position: relative;
  margin: 20px 0 10px 50px;
  width: 350px; }

input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  background: #f7f7fa;
  height: 10px;
  border-radius: 5px; }

input[type=range]::before {
  content: '';
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: #ccc;
  left: 0px;
  z-index: 1; }

input[type=range]::after {
  content: '';
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: #ccc;
  right: 0px;
  z-index: 1; }

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background-color: #e6b05e;
  border-radius: 20px;
  position: relative;
  top: -5px;
  z-index: 2; }

.time-limit__item {
  display: inline;
  margin-left: 30px;
  text-transform: uppercase; }

.time-limit__item:nth-child(2) {
  color: #e6b05e;
  margin-left: 105px;
  margin-right: 72px; }

.legend {
  margin: 30px 0 30px 30px;
  border: 1px solid #d7d8e0;
  border-radius: 5px;
  padding: 20px; }

.legend__title {
  text-transform: uppercase;
  position: relative;
  color: #6e768f;
  font-weight: bold;
  margin-bottom: 15px;
  text-indent: 34px;
  font-size: 10px;
  letter-spacing: 1px; }

.legend__title::before {
  content: "\f05a";
  position: absolute;
  font-family: 'FontAwesome';
  top: -3px;
  left: -22px;
  font-size: 14px; }

.legend__text {
  line-height: 20px;
  padding-left: 30px; }

b {
  color: #e6b05e;
  text-transform: uppercase; }

/*Payment*/
.payment {
  margin-bottom: 95px; }

.payment__wrapper {
  padding-left: 100px; }

.payment__wrapper--2 {
  display: flex;
  flex-direction: row; }

.payment__wrapper--3 {
  margin: 45px 0; }

.payment__text {
  margin-bottom: 20px; }

.payment__singIn {
  color: inherit;
  text-decoration: underline; }

.payment__label {
  display: block;
  margin: 30px 0 10px 10px;
  text-transform: uppercase; }

.payment__personal-info {
  width: 300px;
  font-weight: bold;
  padding: 10px 40px 10px 20px;
  border-radius: 5px;
  border: 1px solid #d7d8e0;
  color: #6e768f;
  position: relative;
  margin-right: 40px; }

.payment__personal-info:valid {
  background: url("../img/valid.png") no-repeat;
  background-size: 20px 20px;
  background-position: 270px 7px; }

.payment__personal-info:invalid {
  background: url("../img/invalid.png") no-repeat;
  background-size: 20px 19px;
  background-position: 270px 8px; }

/*Payment method*/
.payment-metod {
  display: inline-block;
  width: 185px;
  height: 90px;
  border: 1px solid #d7d8e0;
  background-color: #eceef4;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: 39px 27px;
  background-size: 100px 28px; }

.payment-metod--visa {
  background-image: url(../img/visa.png); }

.payment-metod--payPal {
  background-image: url(../img/PayPal.png);
  margin: 0 80px; }

.payment-metod--amazon {
  background-image: url(../img/amazon.png);
  background-position: 39px 39px;
  background-size: 108px 25px; }

/*Card-info*/
.payment__card-info {
  width: 230px;
  font-weight: bold;
  padding: 10px 40px 10px 20px;
  border-radius: 5px;
  border: 1px solid #d7d8e0;
  color: #6e768f;
  position: relative;
  margin-right: 40px; }

.payment__card-info--2 {
  padding-top: 5px;
  width: 180px; }

.payment__card-info--3 {
  width: 60px; }

/*submiting-wrapper*/
.submiting-wrapper {
  padding-left: 250px; }

.button-submit--footer {
  display: inline; }

.button-print--footer {
  display: inline; }

.submiting-wrapper > input {
  margin: 20px; }
